/* GENERELL STYLING */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4 {
    font-family: sans-serif, arial;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}


/* GENERAL CLASSES */

.img-container {
    max-width: 100%;
}

.img-container img {
    max-height: 50vh;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}

.img-responsive {
    width: 100%;
    height: 100%;
}

.full-width {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.text-box p {
    max-width: 42rem;
    margin: 0.5rem 0;
}

.heading {
    margin: 0 0 2rem 0;
    background-color: #097C84;
}

.title {
    font-size: 2.5rem;
    padding: 1rem;
    color: #fff;
}

.heading .title {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}


/* FORMS GENERELT */

input[type="search"] {
    border: none;
    background: #F0ECE9;
    height: 2rem;
}


input[type="submit"], input[type="reset"] {
    background: #097C84;
    padding: 1rem;
    margin: 1rem 0;
    border: none;
    color: #fff;
    font-size: 1rem;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    cursor: pointer;
    background-color: #F67F00;
}

input[type="submit"]:active, input[type="reset"]:hover {
    box-shadow: 0 2px 10px #404040;
}

form p {
    margin: 1rem 0;
}


/* HEADER  */

.container-header {
    width: 100%;
    min-height: 75px;
    background: #fff;
    box-shadow: 0 0 4px #404040;
    display: fixed;
}

header {
    max-width: 1240px;
    height: inherit;
    margin: 0 auto;
    padding: 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.logo {
    height: 4rem;
}

/* MAIN NAVIGATION */

header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: inherit;
}

header nav ul {
    height: inherit;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

header nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

header nav ul li a {
    width: 100%;
    padding: 1.5rem;
    color: #097C84;
    font-size: 0.8rem;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

header nav ul li a:hover {
    background-color: #097C84;
    color: #fff;
}

/* MAIN */

main {
    max-width: 1240px;
    margin: 0 auto;
}

.title-heading {
    margin: 1rem 0;
}

main h1 {
    font-size: 2.5em;
    margin: 1em 0;
}

main h2 {
    font-size: 2em;
    margin-bottom: 2rem;
}

main h3 {
    font-size: 1.25em;
    margin: 0.25rem 0;
}


/* FRONTPAGE */

main.frontpage {
    position: relative;
    max-width: 100%;
    width: 100%;
    padding: 0 0 4rem 0;
}


/* ABOUT VISIT INFO BOX */

.about-visit {
    position: absolute;
	top: 1rem;
	left: 1rem;
}

.about-visit .text-box {
    position: relative;
    width: 18em;
    padding: 1rem 2rem;
    background: #fff;
    z-index: 1;
}

.about-visit .text-box .row {
    margin: 2rem 0;
}

.about-visit .visitt-icon {
    height: 3rem;
}

.about-visit .text-box p {
    color: #097C84;
    font-size: 0.8rem;
    text-align: center;
}


/* BREADCRUMBS */

.breadcrumbs-wrapper {
    padding: 1rem;
    background: #097C84;
}

.breadcrumbs {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1rem;
}

.breadcrumbs span,
.breadcrumbs a {
    padding: 2rem 0;
    margin-right: 1rem;
    color: #fff;
}


/* VISIT STEP BY STEP */

.visit-steps-container {
    max-width: 960px;
    margin: 4rem auto;
    padding: 2rem 0;
    border-bottom: 2px solid #DDDDDD;
}

.visit-steps-container h3, .visit-steps-container a {
    color: #097C84;
}

.visit-steps-container h3 {
    font-size: 2rem;
}

.visit-steps-container a {
    padding: 1rem 6rem;
    border: 1px solid #097C84;
}

.frontpage-buttons {
    max-width: 960px;
    margin: 0 auto;
}

.frontpage-button {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    color: #404040;
}

.frontpage-button-big {
    font-size: 2rem;
}

.frontpage-buttons .visitt-icon {
    max-height: 5rem;
}

#søk_bolig {
    font-size: 2em;
}

/* FRONT PAGE HOME SEARCH */

.home-search .dropdown select {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
}

.frontpage .home-search {
    height: 65vh;
    width: 100%;
    background-image: url(./media/vr-banner-illustration-fixed.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

.home-search {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2rem;
}

.home-search form {
    position: relative;
    margin: 0 auto;
}

.home-search h1 {
    margin: 0.5em 0;
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: 0 0 1px #fff;
}

.home-search input {
    font-size: 1.25rem;
    border: none;
}

.home-search input[type="search"] {
    width: 24rem;
    height: 3rem;
    padding: 0 1rem;
    background: #e0e0e0;
}

.home-search input[type="search"]:hover {
    outline: 2px solid #F67F00;
}

.home-search input[type="submit"] {
    display: inline-block;
    background: #097C84;
    color: #fff;
    padding: 0 2rem;
    height: 3rem;
}

.home-search input[type="submit"]:hover {
    background-color: #F67F00;
    cursor: pointer;
}



/* PROJECTS */

.projects .row {
    height: 100%;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}

.project-container {
    padding: 0;
}

.project-container:first-child {
    padding-right: 0.5rem;
}

.row .project-container:last-child {
    padding-left: 0.5rem;
}

.project-header {
    margin-bottom: 1em;
}

.project-address {
    font-size: 0.5em;
}

.project-title,
.project-description {
    padding: 0.5em;
    background-color: cadetblue;
    color: #fff;
}

.project-description {
    margin: 1rem 0;
    padding: 2rem 1rem;
    line-height: 1.25em;
}

.project-image {
    width: 100%;
}

.project-read-more-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    background: #F67F00;
    color: #fff;
    padding: 1rem 1rem;
}


/* HOUSING LIST FILTER */

.housing-filter {
    position: relative;
    background-color: cadetblue;
    color: #fff;
}

.housing-filter form {
    position: relative;
    width: 100%;
}

/* HOUSING LIST ITEMS */

.housing-list-items {
    padding: 1rem;
}

.housing-item-container {

    padding: 1rem;
    border: 1px solid #097C84;
    width: 100%;
    margin-bottom: 1rem;
}

.housing-item-info-container {
    background-color: #E5E5E5;
    padding: 1rem;
}

.housing-item-info-container p {
    color: #333;
    margin: 0.5rem 0;
}

.housing-item-image {
    position: relative;
    width: 100%;
}

.housing-item-image .img-responsive {
    object-fit: contain;
    
}

.housing-item-loc {
    text-transform: lowercase;
}

.housing-item-loc::first-letter {
    text-transform: capitalize;
}

.housing-item-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #097C84;
    margin-bottom: 1.5rem;
}

.housing-item-price {
}

.housing-item-type-container {
    margin: 1rem 0;
    padding: 0.5rem 0;
    border-top: 1px solid #F67F00;
}


.housing-item-read {
    background-color: #F67F00;
}

.housing-item-read a {
	font-size: 1.25rem;
    color: #fff;
    padding: 1rem;
    width: 100%;
}


/* HOUSING FILTER */

.housing-filter {
    padding: 2rem 1rem;
    font-family: Arial;
}

.housing-filter legend {
    font-size: 1.2rem;
    font-weight: 700;
}

.housing-filter input[type="number"] {
    width: 10rem;
    padding: 0.25rem;
    margin: 0.1rem 0;
    font-size: 0.8rem;
} 

.filter-item {
    margin: 1em 0;
}

.filter-item:nth-child(n+6) {
    display: none;
}

#showMore {
    background-color: #097C84;
    font-size: 1.2rem;
    padding: 0.5rem;
    margin: 1rem 0;
    border: none;
    color: #fff;
}

#showMore:hover {
    background-color: #F67F00;
    cursor: pointer;
}


/* HOUSING ANNONSE  */

.housing-ad-main {
	margin-bottom: 5rem;
}

.housing-ad-main section .row {
    margin: 1rem 0;
}

.housing-header {
    margin: 1rem;
}

.housing-title {
    color: #097C84;
    font-weight: 700;
    margin: 0 0 0.5rem 0;
}

.housing-location {
    font-weight: 100;
}

.housing-main-img {
    width: 100%;
    margin-bottom: 2rem;
}

.housing-inline-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.housing-inline-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
}

.housing-inline-nav ul li a {
    padding: 1rem 3rem;
    color: #097C84;
    border: 3px solid #097C84;
}

.housing-inline-nav ul li:first-child a {
    border-right: none;
}

.housing-inline-nav ul li:last-child a {
    border-left: none;
}


.housing-ad-main .housing-basics {
	position: relative;
    width: 100%;
    margin: 3rem 0 0 0;
    padding: 1rem;
    background: #F0ECE9;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


.housing-basics h2 {
    font-weight: 700;
    color: #F67F00;
}

.housing-basics h3 {
    font-weight: 700;
    color: #097C84;
}

.housing-basics p {
    max-width: 14rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-weight: 700;
}

.housing-basics span {
    font-weight: 200;
}

.housing-ad-main aside {
    margin-top: 1rem;
    padding: 1rem;
    background: #fff;
}

.housing-ad-main aside img:first-child {
    margin-bottom: 1rem;
}

.housing-ad-main .housing-listing-icon {
    max-width: 6rem;
}

.two-grid-gutter:first-child {
    padding-left: 0rem;
    padding-right: 0.5rem;
}

.two-grid-gutter:last-child {
    padding-right: 0rem;
    padding-left: 0.5rem;
}

.housing-ad-main .big-button a {
    display: block;
    padding: 4rem 0;
    background: #097C84;
    color: #fff;
}

.big-button a {
    display: block;
    padding: 4rem 0;
    background: #097C84;
    color: #fff;
}

/*  ABOUT PAGE  */

.about-main .about-item-container {
    margin-bottom: 8rem;
}

.about-main .aboutpage-buttons {
    margin-bottom: 5rem;
}

.about-heading {
    border-bottom: 2px solid #DDDDDD;
}

.about-heading h3 {
    font-size: 1.5rem;
    color: #666666;
}

.about-heading .visitt-icon {
    max-height: 3rem;
}

.about-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.about-description p {
    margin: 0.5rem 0;
    color: #333;
}

.aboutpage-buttons a {
    font-size: 1.25rem;
    font-weight: 500;
    color: #777777;
}

.aboutpage-buttons .visitt-icon {
    width: 2rem;
    max-height: 5rem;
}

.visitt-branches li {
    width: 95%;
    margin: 0.5rem 0;
    border-bottom: 1px solid #CCCCCC;
}
.visitt-branches li a {
    color: #404040;
}



/* RESERVE APPOINTMENT PAGE */

.reservation-main {
    max-width: 960px;
    padding: 2rem 0;
}

.reserve-form-container {
    border-right: 1px solid #F67F00;
}

.reservation-box {

}

.reserved-house-container {

}

.reserved-house-container p {
    margin-bottom: 1rem;
}

.reserved-house-container h2 {
    color: #097C84;
}

/* FOOTER */

footer {
    position: relative;
    height: 40rem;
    background-color: #404040;
    font-family: arial, sans-serif;
    color: #fff;
}

.footer-logo-container {
    height: 100%;
    background-color: #097C84;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.visitt-logo-footer {
    width: 14rem;
    padding: 12rem 0;
}

.footer-links {
    width: 60%;
    padding: 0 2rem 0 0;
}

.footer-links ul  {
    width: 60%;
    margin: 0 auto;
    padding: 2rem;  
    border-bottom: 2px solid #fff;
}

.footer-links ul  li {
    padding: 1rem 0;  
}

.footer-links ul li a {
    padding: 2rem 0;
    font-size: 1.5rem;
    color: #fff;
} 

.footer-links .dnb-logo-footer {
    width: 10rem;
    margin: 1rem 0;
}

.footer-box {
    width: 60%;
    padding: 0 2rem;
    margin: 2rem auto;
}

.footer-box p,
.footer-box a {
    color: #CCCCCC;
    font-size: 0.8em;
   
}

.footer-box p {
     margin: 0.5em 0;
}

.footer-box a {
    position: relative;
    top: 1rem;
    font-size: 0.8rem;
    text-decoration: underline;
}
